// linkedin banner colors
$white: #f0f0f0;
$light-gray: #848484;
$medium-gray: #545454;
$dark-gray: #242424;
$turquoise: #16c6cc;
$navy: #003058;

// blue/gray (linkedin banner)
$background: $white;
$medium-neutral: $medium-gray;
$dark-neutral: $dark-gray;
$light-color: $turquoise;
$dark-color: $navy;
$text: $dark-gray;
$shadow: #dddddd;
$card: #e9eaedaa;
$card-hover: #d9daddaa;
$card-left: #eaeaeaaa;
$card-left-hover: #d0d0d0aa;
$scrollbar: #aaaaaa;
$scrollbar-hover: #cccccc;

// autumn
$background: #bd744c;
$background: #fde4cccc;
$medium-neutral: #6c2f1a;
$dark-neutral: #391a14;
$light-color: #f0862e;
$dark-color: #a64215;
$text: #391a14;
$shadow: #eda47c88;
$card: #fde4ccee;
$card-hover: #fde4cc;
$card-left: #edd4bcee;
$card-left-hover: #edd4bc;
$scrollbar: #cd845c;
$scrollbar-hover: #eda47c;

// brown/pink/black
// $background: #fcf5ed;
// $medium-neutral: #f4bf96;
// $dark-neutral: #1f1717;
// $light-color: #ee7a87;
// $dark-color: #7e0a17;

// blue/orange
// $background: #e1e4e4;
// $medium-neutral: #eeaa7b;
// $dark-neutral: #e37222;
// $light-color: #66b9bf;
// $dark-color: #07889b;

//green/orange
// $background: #fffbdbbb;
// $medium-neutral: #da7422aa;
// $dark-neutral: #da7422;
// $light-color: #a59132;
// $dark-color: #625834;
// $text: #30362f;
