@use 'colors';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: colors.$background;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* custom scrollbar */

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: colors.$scrollbar;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  z-index: 9999;
}

::-webkit-scrollbar-thumb:hover {
  background-color: colors.$scrollbar-hover;
}

/* links */

a {
  text-decoration: none;
}

/* text */

span, .css-92 {
  color: colors.$text;
}

.dark-text {
  color: colors.$dark-neutral;
}

.medium-text {
  color: colors.$medium-neutral;
}

.highlight {
  font-weight: bold;
  color: colors.$dark-color;
}

/* homepage side links (experience, projects, etc.) */

.side-link {
  cursor: pointer;
  .link-line {
    width: 30px;
    height: 2px;
    background-color: colors.$light-color;
    border-radius: 999pc;
    transition: width 0.2s ease-in;
  }
  .link-text {
    font-size: 18px;
    color: colors.$light-color;
    text-decoration: none;
    font-family: Consolas;
  }
}

.side-link:hover {
  .link-line {
    background-color: colors.$dark-color;
    width: 60px;
    transition: background-color 0.2s ease-in width 0.2s ease-in;
  }
  .link-text {
    color: colors.$dark-color;
    transition: color 0.2s ease-in;
  }
}

/* homepage contact icon svg links */

.contact-link {
  cursor: pointer;
  width: 30px;
  height: 30px;
  svg {
    fill: colors.$medium-neutral;
  }
}

.contact-link:hover svg {
  fill: colors.$dark-neutral;
  width: 25px;
  height: 25px;
  transition: width 0.2s ease-in height 0.2s ease-in;
}

/* subpage home icon svg links */

.home-link {
  cursor: pointer;
  width: 40px;
  height: 40px;
  svg {
    fill: colors.$medium-neutral;
  }
}

.home-link:hover svg {
  fill: colors.$dark-neutral;
  width: 30px;
  height: 30px;
}

/* sticky header */

.sticky-header {
  box-shadow: colors.$shadow 0px 0px 6px 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

/* homepage bio border */

.vertical-border {
  background: linear-gradient(to bottom, colors.$dark-color 0%, colors.$light-color 100%)
}

/* tags */

.category {
  background: rgba(colors.$dark-color, .2);
  border: 1px solid colors.$dark-color;
  border-radius: 9px;
  padding: 6px 9px;
}

.tag {
  background: rgba(colors.$light-color, .2);
  border: 1px solid colors.$light-color;
  border-radius: 999pc;
  padding: 6px 9px;
}

/* subpage cards (projects, roles, etc.) */

.card {
  background: colors.$card;
  border-radius: 9px;
  .card-left {
    background: colors.$card-left;
  }
}

.card:hover {
  background: colors.$card-hover;
  box-shadow: colors.$shadow 0px 0px 6px 6px;

  /* From https://css.glass */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  .card-left {
    background: colors.$card-left-hover;
  }
}

/* subpage card containers responsive widths */

@media screen and (min-width: 470px) {
  #projects-container,
  #experience-container {
    width: 470px !important;
  }
}

@media screen and (min-width: 964px) {
  #projects-container,
  #experience-container {
    width: 964px !important; /* 2 * 470px + 1 * 24px */
  }
}

@media screen and (min-width: 1458px) {
  #projects-container,
  #experience-container {
    width: 1458px !important; /* 3 * 470px + 2 * 24px */
  }
}

/* molecule colors */

.molecule {
  // border: 1px solid colors.$light-color;
  opacity: 0.4;
}

.molecule circle.dark-color {
  fill: colors.$dark-color;
}

.molecule circle.light-color {
  fill: colors.$light-color;
}

.molecule circle.dark-neutral {
  fill: colors.$dark-neutral;
}

.molecule circle.light-neutral {
  fill: colors.$medium-neutral;
}

.molecule line.dark-color {
  stroke: colors.$dark-color;
}

.molecule line.light-color {
  stroke: colors.$light-color;
}

.molecule line.dark-neutral {
  stroke: colors.$dark-neutral;
}

.molecule line.light-neutral {
  stroke: colors.$medium-neutral;
}

/* big text hover gradient effect */

.linear-wipe {
  text-align: center;
  font-size: 34px !important;

  background: linear-gradient(
    to right,
    colors.$dark-color 20%,
    colors.$light-color 40%,
    colors.$light-color 60%,
    colors.$dark-color 80%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.linear-wipe:hover {
  animation-name: shine;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
